.ui.featured.card {
  display: block;
  width: 100%;
  margin: 0 auto 4rem auto;

  > .image {
    height: 550px;
    cursor: pointer;

    > img {
      height: 100%;
      object-fit: cover;
      object-position: 50% 30%;
      border-radius: 0;
    }

    .ui.label {
      border-radius: 0;
      margin: .5rem;
    }
  }

  .sub.header {
    position: relative;
    text-transform: none;

    .rating {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .content {
    padding: 1rem .5rem 0;
  }

  .summary .ui.grid:not(.scroller) {
    margin-top: .5rem;
  }

  .scroller {
    margin-top: -.5rem;
    max-width: calc(100% + 15px);
    max-height: 110px;
    overflow: hidden;
    overflow-y: scroll;
  }

  .releaseDate {
    position: relative;
    top: -1rem;
  }

  .equal.width.grid > .column {
    text-align: center;
  }

  .companyIMG {
    max-width: 100%;
    max-height: 50%;
  }

  .ui.feed .column.cast {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1;
  }

  .segment.is-loading {
    height: 250px;
    box-shadow: 0 0 0 0 white;
  }
}
